// COLORS
$white: #fff;
$black: #000;
$primary: #00427f;
$grey: #eaeaea;
$light: #f8f8f8;
$dark: #4d4d4d;

// GRADIENTS
$gradient: linear-gradient(88.99deg, #fedc36 0, #98ca3d 100%);
$blue-gradient: linear-gradient(96.06deg, #00427f 9.6%, #00315e 99.79%);

// WEIGHT
$bold: 700;

/* EASINGS */
$ease-out: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out: cubic-bezier(0.86, 0, 0.07, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
