body {
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include f15;
}

* { box-sizing: border-box; }
.app { opacity: 0; }
a { text-decoration: none; }
input[type="submit"] { appearance: none; }
.h100 { height: 100%; }

.content {
  position: relative;
  z-index: 1;

  &:not(.landing) { margin-top: 0; }
}

section {
  position: relative;
  margin: 150px 0;

  &:first-of-type {
    margin: 0;

    + .f {
      @include media-breakpoint-up(lg) { margin-top: 0; }
    }
  }

  &.b-ps,
  &:nth-of-type(2) {
    &:not(:nth-last-child(2)) {
      @include media-breakpoint-up(lg) { margin-top: 100px; }

      &::before {
        content: "";
        position: absolute;
        top: -100px;
        left: 0;
        z-index: -2;
        width: 100vw;
        height: 400px;
        background: $gradient;

        @include media-breakpoint-up(lg) { height: calc(100% + 150px); }
      }

      &::after {
        content: "";
        position: absolute;
        top: 250px;
        left: 0;
        z-index: -1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 0 0 100vw;
        border-color: transparent transparent transparent $white;

        @include media-breakpoint-up(lg) {
          top: auto;
          bottom: -50px;
          border-width: 100px 0 0 100vw;
        }
      }

      &.mid {
        &::before { @include media-breakpoint-up(lg) { height: calc(50vh + 100px); } }
        &::after { @include media-breakpoint-up(lg) { top: calc(50vh - 100px); } }
      }
    }
  }

  &.b-d,
  &:nth-last-child(2) {
    z-index: 1;

    &.has-bg {
      margin-top: 250px;

      &::before {
        content: "";
        position: absolute;
        top: 100px;
        left: 0;
        z-index: -2;
        width: 100vw;
        height: calc(100% + 100px);
        background: $gradient;
      }

      &::after {
        content: "";
        position: absolute;
        top: 100px;
        left: 0;
        z-index: -1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 100vw 50px 0;
        border-color: transparent $white transparent transparent;

        @include media-breakpoint-up(lg) { border-width: 0 100vw 100px 0; }
      }

      &.big {
        &::before {
          top: -100px;
          height: calc(100% + 250px);
        }

        &::after { top: -100px; }
      }
    }

    + section { margin-top: 200px; }
  }
}

figure {
  margin: 0;
  padding: 0;
}

p {
  margin: 30px 0 0;

  &:first-child { margin: 0; }
}
